<nav class="navbar navbar-expand-lg sticky-top navbar-dark mb-3 main-navbar" [ngStyle]="{'background-color' : (route === '' || route === '/login') ? 'rgba(17, 17, 17, 0)' : 'rgba(17, 17, 17, 1)'}">  
  <a class="navbar-brand title" [routerLink]="" (click)="goToHome()"><img src="../assets/logo.png" height="25" width="140" style="margin-left: 5%" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a *ngIf="route === '/login'" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loggedUser.role == 'MEMBER'" [routerLink]="" (click)="goToMember()">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loggedUser.role == 'ADMIN'" [routerLink]="" (click)="goToAdmin()">Database</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loggedUser.role == 'ADMIN'" [routerLink]="" (click)="goToRegister()" >Register a member</a>
      </li>
    </ul>
    <button  *ngIf="loggedUser.role === 'GUEST'"  type="button" class="btn btn-danger my-sm-0" style="color:white; width: 8%;" routerLink="/login">
      Sign in
    </button>
    <div *ngIf="loggedUser.role !== 'GUEST'" class="user-dropdown">
      <div class="profile">
        <span class="username">{{loggedUser.member.name}}</span>
        <div class="icon">
          <img src="../assets/avatar.png" width="10" height="10" id="avatar">
        </div>
      </div>
      <div class="dropdown-content">
        <div class="btn_signout" routerLink="" (click)="logout()">
          Sign out
        </div>
        <!-- <button *ngIf="loggedUser.role !== 'GUEST'" type="button" class="btn btn-danger my-sm-0" style="color:white; width: 8%;" routerLink="" (click)="logout()">
          Sign out
        </button> -->
      </div>
    </div>
   
  </div>
</nav>
<div *ngIf="route === ''|| route === '/login'" class="home-bg-img">
  <img src="../assets/lassonde-vue-exterieur-nuit_3.jpg" id="lassonde-img">
</div>
<div class="container" *ngIf="route === ''">
  <span class="text">
    <span id="main-title">NETFLIX_POLY</span>
    <br>
    <br>
    A BRAND NEW ONLINE PLATFORM WHERE YOU CAN WATCH, DOWNLOAD AND ORDER UNLIMITED MOVIES NOW!
    <br>
    <br>
    <button type="button" class="btn btn-danger my-sm-0" style="color:white; width: 65%;" routerLink="/login">
      JOIN RIGHT NOW
    </button>
  </span>
</div>
<router-outlet></router-outlet>


<!-- 
  <div id="ht" style="text-align:center" *ngIf="route != '/room'">
    <button type="button" class="btn btn-primary" (click)="getHotels()">Get Hotels</button>
    <table id="ht" align="center" border="1" width="350">
      <thead>
        <th> HOTEL</th>
        <th> CITY</th>
        <th> DELETE HOTEL </th>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotels">
          <td> {{hotel.hotelname}}</td>
          <td> {{hotel.city}} </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div> -->