<div class="container">
    <div class="subtitle">
        <span class="index">STEP <b>3</b> OF <b>3</b></span><br>
        <h5><b>SET UP THE CREDIT CARD</b></h5>
    </div>
    <div id="cardImg">
        <img src="../../../assets/visa-card.png" height="30" width="47">
        <img src="../../../assets/mastercard-card.png" height="30" width="47">
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>First name</label>
              <input type="text" class="form-control" [(ngModel)]="fName" name="first" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
              <label>Last name</label>
              <input type="text" class="form-control" [(ngModel)]="lName" name="last" placeholder="Last name">
            </div>
        </div>
        <label for="inputCard4">Card number</label>
        <div class="form-row">
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" class="form-control" [(ngModel)]="cardNumber[0]" name="cardNumber0" placeholder="XXXX">
            </div>
            -
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" class="form-control" [(ngModel)]="cardNumber[1]" name="cardNumber1" placeholder="XXXX">
            </div>
            -
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" class="form-control" [(ngModel)]="cardNumber[2]" name="cardNumber2" placeholder="XXXX">
            </div>
            -
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" class="form-control" [(ngModel)]="cardNumber[3]" name="cardNumber3" placeholder="XXXX">
            </div>
        </div>
        <br>
        <label for="inputCard4">Expiration date</label>
        <div class="form-row">
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" class="form-control" [(ngModel)]="expiration[0]" name="year" placeholder="YYYY">
            </div>
            /
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="2"  class="form-control" [(ngModel)]="expiration[1]" name="month" placeholder="MM">
            </div>
            /
            <div class="col">
                <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="2" class="form-control" [(ngModel)]="expiration[2]" name="day" placeholder="DD">
            </div>
        </div>
        <br>
        <div class="form-col">
            <label>CCV</label>
            <input type="number" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" class="form-control" [(ngModel)]="creditCard.ccv" name="ccv" placeholder="XXX">
        </div>
        <button type="button" class="btn btn-danger" [routerLink]="" (click)="finish()">Finish</button>
    </form>

</div>