<div class="signin-forms">
    <form>
        <span id="form-title">Sign In</span>
        <br>
        <br>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Remember me
              </label>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-danger" (click)="login()">Sign in</button>
          <p>Press <b><a [routerLink]="" (click)="createDB()">HERE</a></b> to create and populate the database</p>
      </form>
</div>