 <!-- SEARCH BAR -->
 <!-- <form class="form-inline my-2 my-lg-0 searchBar">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a movie title">
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
</form> -->
<div class="topbar"></div>
<div class="member-interface">
  <div class="flex-container">
    <div class="movie-container" *ngFor="let movie of movies">
      <!-- <span>{{movie.title}}</span> -->
      <div class="img" (click)="select($event)">{{movie.title}}</div>
      <!-- <img src="../../assets/thumbnail_test.png"> -->
      <div class="movie-popup" #popups>
        <div class="arrow"></div>
        <div class="movie-content">
          <div class="close" (click)="hide()">X</div>
          <div class="description">
            <div class="movie-info">
              <h2>{{movie.title}}</h2>
              <h6>Duration: {{movie.duration}}mins</h6>
              <h5>Genre: {{movie.genre}}</h5>
              <h5>Production date: {{movie.productiondate}}</h5>
              <button *ngIf="isContinuing()" type="button" class="btn btn-danger my-sm-0">Resume movie at {{watchtime}}mins</button>
              <button *ngIf="!isContinuing()" type="button" class="btn btn-danger my-sm-0">Watch movie</button>
            </div>
            <div class="movie-crew">
              <h3>Credits</h3>
              <h5 *ngIf="roles.length === 0">N\A</h5>
              <div *ngFor="let role of roles" class="roles">
                <h5>{{role}}</h5>
                <h6 *ngFor="let person of crew"><span *ngIf="person.rolename === role">{{person.personname}} ({{person.salary}}$)</span></h6>
                <p></p>
              </div>
            </div>
          </div>
          <!-- <button *ngIf="isContinuing()" type="button" class="btn btn-danger my-sm-0">Resume movie at {{watchtime}}mins</button>
          <button *ngIf="!isContinuing()" type="button" class="btn btn-danger my-sm-0">Watch movie</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="form-group">
    <label>LIST OF MOVIES</label>
    <select multiple class="form-control" [(ngModel)]="selectedOption" (click)="test()">
      <option *ngFor="let movie of movies">{{movie.title}}</option>
    </select>
  </div>
  <div>
    <div class="movie-info">
      <h2>{{movie.title}}</h2>
      <h4>Genre: {{movie.genre}}</h4>
      <h5>Production date: {{movie.productiondate}}</h5>
      <h6>Duration: {{movie.duration}}mins</h6>
    </div>
    <button *ngIf="isContinuing()" type="button" class="btn btn-danger my-sm-0">Resume movie at {{watchtime}} mins</button>
    <button *ngIf="!isContinuing()" type="button" class="btn btn-danger my-sm-0">Watch movie</button>
  </div>
  <div>
    Information
    <div *ngFor="let role of roles">
      {{role}}
      <div *ngFor="let person of crew">
        <span *ngIf="person.rolename === role"> {{person.personname}}</span>
      </div>
      <br>
    </div>
  </div> -->
</div>
