<div class="topbar"></div>
<div class="member-interface">
  <div class="flex-container">
    <div class="movie-container" *ngFor="let movie of movies">
      <div class="img" (click)="select(movie.title)">{{movie.title}}</div>
      <div class="movie-popup" #popups>
        <div class="arrow"></div>
        <div class="movie-content">
          <div class="close" (click)="hide()">X</div>
          <div class="description">
            <div class="movie-info">
              <h2>{{movie.title}} ({{movie.duration}}mins)</h2>
              <h5>Genre: <h6 class="section">{{movie.genre}}</h6></h5>
              <h5>Production date: <h6 class="section">{{movie.productiondate}}</h6></h5>
              <div>
                <button id="resumebtn" *ngIf="isContinuing()" type="button" class="btn btn-danger my-sm-0" (click)="watch(false)">Resume movie</button>
                <button id="restartbtn" *ngIf="isContinuing()" type="button" class="btn btn-danger my-sm-0"  (click)="watch(true)">Restart movie</button>
              </div>
              <button *ngIf="!isContinuing()" type="button" class="btn btn-danger my-sm-0" (click)="watch(false)">Watch movie ({{price}})</button>
            </div>
            <div class="movie-crew">
              <h3>Credits</h3>
              <h5 *ngIf="roles.length === 0">N\A</h5>
              <div *ngFor="let role of roles" class="roles">
                <h5>{{role}}</h5>
                <h6 *ngFor="let person of crew"><span *ngIf="person.rolename === role">{{person.personname}} ({{person.salary}}$)</span></h6>
                <p></p>
              </div>
              <h5 *ngIf="awards.length > 0">Oscars: <h6 *ngFor="let award of awards"><span>{{award.category}} ({{award.oscartype}})</span></h6></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
